<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
	    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd"
>

    <!--<context:component-scan base-package="controller"/>-->

    <context:annotation-config/>
    <context:spring-configured/>
    <!--<bean id="studentController"  class="net.javabeat.managedController.StudentController" name="studentController"/>-->
    <!-- Data Source Declaration -->
    <bean id="DataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
        <property name="url" value="jdbc:postgresql://localhost:5432/tourism"></property>
        <property name="username" value="postgres"/>
        <property name="password" value="123"/>
        <property name="driverClassName" value="org.postgresql.Driver"/>


    </bean>
    <!--<cache:annotation-driven proxy-target-class="true"/>-->
    <!--<bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager">-->
        <!--<property name="cacheManager" ref="ehcache"/>-->
    <!--</bean>-->
    <!--<bean id="ehcache" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">-->
        <!--<property name="configLocation" value="classpath:ehcache.xml"/>-->
        <!--<property name="shared" value="true"/>-->
    <!--</bean>-->

    <!--<bean id="entityManager" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">-->
    <!--<property name="persistenceUnitName" ref="punit"/>-->


    <!--</bean>-->
    <bean id="entityManagerFactory"
          class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="persistenceUnitName" value="punit"/>
        <property name="dataSource" ref="DataSource"/>

        <!--<property name="persistenceXmlLocation" value="WEB-INF/persistence.xml"/>-->
    </bean>


    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>
    <!-- Session Factory Declaration -->
    <bean id="SessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="DataSource"/>
        <!--  <property name="packagesToScan">
               <list>
                   <value>net.javabeat.managedController</value>
               </list>
           </property>-->
        <!-- <property name="annotatedClasses">
             <list>
                 <value>net.javabeat.spring.model.Customer</value>
             </list>
         </property>-->
        <property name="hibernateProperties">
            <props>
                <!--<prop key="hibernate.dialect">org.hibernate.dialect.DB2400Dialect</prop>-->
                <prop key="hibernate.show_sql">true</prop>
            </props>
        </property>
    </bean>
    <!--<bean id="MultipartFilter" class="org.springframework.web.multipart.support.MultipartFilter"></bean>-->
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- one of the properties available; the maximum file size in bytes -->
        <property name="maxUploadSize" value="100000000"/>
    </bean>
    <!-- Enable the configuration of transactional behavior based on annotations -->
    <tx:annotation-driven transaction-manager="transactionManager"/>
    <!--<bean class="org.springframework.beans.factory.config.CustomScopeConfigurer">-->
        <!--<property name="scopes">-->
            <!--<map>-->
                <!--<entry key="view">-->
                    <!--<bean class="util.ViewScope"/>-->
                <!--</entry>-->
            <!--</map>-->
        <!--</property>-->
    <!--</bean>-->
    <bean name="resources" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="useCodeAsDefaultMessage" value="true"/>
        <property name="basename">
            <value>bundle.local</value>
        </property>
    </bean>
    <bean name="msgUtil" class="util.ResourcesUtil">
        <property name="msg" ref="resources">
        </property>
    </bean>
    <bean name="messageUtil" class="util.MessageUtil">
        <property name="resourcesUtil" ref="msgUtil">
        </property>
    </bean>

    <!-- Transaction Manager is defined -->
    <bean id="txManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="SessionFactory"/>
    </bean>

</beans>