body{
    direction: rtl;
    font-family: yekan;
    background-color: beige;
}

.ui-state-default .ui-icon {
    background-image: url("../img/ui-icons.png");
}

.ui-widget {
    font-family: yekan!important;
    font-size: 0.8em!important;
}
@font-face {
    font-family: 'yekan';
    src:url("../fonts/BYekan.eot?#") format("eot"),
    url('../fonts/BYekan.woff') format('woff'),
    url('../fonts/BYekan.ttf') format('truetype');
}
/*div definitions*/
#rm_main_panel{
    width: 100%;
    height: 600px;
    background-color: darkgray;

}
.rm_hpanel
{
    float: right;
}
.rm_panel
{
    border: 1px solid rgb(154,154,154);
    border-radius: 3px;
    margin: 2px;
    box-shadow:inset 0px 0px 20px rgba(111,111,111,0.1);
    overflow: auto;
}
#rm_right_panel
{
    float: right;
    width: 12%;
    height: 95%;
    background-color: rgb(232,232,232);
    padding: 10px;

}
#rm_left_panel{
    float: right;
    width: 22%;
    height: 95%;
    background-color: rgb(232,232,232);
    padding: 10px;
}
#rm_center_panel{
    float: right;
    width: 60%;
    height: 95%;
    padding: 10px;
    background-color: #f7f7f7;
}
#rm_message_bar
{
    min-height: 30px;
}
#rm_top_toolbar
{
padding: 3px;
}
.codingStyle
{
    font-family: monospace !important;
    font-size: 13px !important;
    direction: ltr !important;
}
.rm_compileErrors{
    background: #ffffaa;
    max-height: 200px;
    overflow: auto;
    color: #aa1111;
}
.rm_compileErrors > label > ul{
    direction: ltr;
    font-size: 12px !important;
    font-family: monospace !important;
}
.rm_compileErrors  > label > ul > li{
font-size: 12px !important;
    font-family: monospace !important;
}
.verticalLine {
    margin: 0 12px 0 10px;
    float: right;
    border-left: 1px solid #999977;
}