body{
    direction: rtl;
    font-family: yekan;
    background-color: white;
    font-size: 100pt;
}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-family: yekan Tahoma;
    font-size: 1em;
}
.formPanel{
    width: 100%;
    text-align: center;
    vertical-align: middle;
    margin: auto;
    border: none;
    padding: 0;
}
.ui-inputtext{
    width: 500px;
    height: 50px;
    margin-top: -3px;
    font-size: 20pt!important;
}
.ui-inputfield{
    box-shadow: 0 0 0!important;
}
.ui-panel .ui-panel-content{
    padding: 0;
}
.headerPanel{
    width: 100%;
    header:80px;
    margin: auto;
    padding: 0;
    background-color: aliceblue;
    opacity: 0.7;
    text-align: left;
    font-size: 13pt!important;
}
.searchButtonIcon {
    background: url("../img/logoIcon.png") !important;
    border: 1px solid #999977;
    width: 96px;
    height: 47px;
    margin-top: -2px;
}
@font-face {
    font-family: 'yekan';
    src:url("../fonts/BYekan.eot?#") format("eot"),
    url('../fonts/BYekan.woff') format('woff'),
    url('../fonts/BYekan.ttf') format('truetype');
}
